{% extends 'base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block content %}

<div class="min-h-screen flex items-center justify-center">

    <div class="text-center">

        <h1 class="text-6xl font-bold mb-6">
            IA Voz Chat
        </h1>

        <p class="text-zinc-400 text-xl mb-8">
            Tu asistente emocional inteligente
        </p>

        <a href="/chat/"
           class="bg-white text-black px-6 py-3 rounded-xl font-semibold hover:scale-105 transition">
            Comenzar
        </a>

    </div>

</div>

{% endblock %}